.title-t02 {
    display: block;
    position: relative;
    font-size: 30px;
    font-weight: 100;
    margin: 0 auto 20px;
    line-height: 1.1;
}

.main-container_open-account .acc-type {
    margin-left: -32px;
}

.acc-type {
    width: 760px;
    margin-bottom: 25px;
}

.swiper-container {
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    list-style: none;
    padding: 0;
    z-index: 1;
}

.swiper-wrapper {
    transition-duration: .3s !important;
    transition-duration: 0ms;
    transform: translate3d(52px, 0px, 0px);
}

.swiper-container-android .swiper-slide,
.swiper-wrapper {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
}

.swiper-wrapper {
    display: flex;
    justify-content: center;
    position: relative;
    width: 100%;
    /* height: 100%; */
    z-index: 1;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-transition-property: -webkit-transform;
    transition-property: -webkit-transform;
    -o-transition-property: transform;
    transition-property: transform;
    transition-property: transform, -webkit-transform;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
}

.acc-type .acc-type-slide {
    height: auto;
    padding-top: 15px;
    width: 192px;
}

.acc-type__item {
    position: relative;
    /* width: 28%;
    min-width: 240px; */
    /* height: 100%; */
    padding: 15px 25px 60px;
    line-height: 1.2;
    border: 1.4px solid #e5e5e5;
    border-radius: 4px;
    -webkit-transform: scale(.8);
    transform: scale(.8);
    transition: -webkit-transform .1s ease-out;
    transition: transform .1s ease-out;
    transition: transform .1s ease-out, -webkit-transform .1s ease-out;
    cursor: pointer;
    -webkit-transform-origin: 50%;
    transform-origin: 50%;
    background: #fff;
    transition: all .3s ease-in-out;
}

.acc-type__heading {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 10px;
    margin-bottom: 15px;
    min-height: 44px;
    border-bottom: 1px solid #efefef;
}

.acc-type__name {
    font-weight: 500;
    font-size: 18px;
    margin: 0;
    padding: 0;
}

.advantages {
    list-style: none;
    margin: 0 0 20px;
    padding: 0;
}

.advantages__item {
    position: relative;
    text-align: left;
    margin-top: 0;
    margin-bottom: 13px;
    /* width: 240px; */
}

/* ul li {
    margin: 8px 0;
} */
.acc-type .acc-type-slide.swiper-slide-active {
    width: 240px;
}

.acc-type .acc-type-slide {
    height: auto;
    /* padding-top: 15px; */
    width: 192px;
}

.swiper-slide {
    -webkit-flex-shrink: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    /* width: 100%; */
    height: 100%;
    position: relative;
    -webkit-transition-property: -webkit-transform;
    transition-property: -webkit-transform;
    -o-transition-property: transform;
    transition-property: transform;
    transition-property: transform, -webkit-transform;
}

.acc-type__item._selected {
    border-color: #2A3F73;
    -webkit-transform: scale(1);
    transform: scale(1);
    box-shadow: rgb(0 0 0 / 35%) 0px 5px 15px;
}

.acc-type__heading {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 10px;
    margin-bottom: 15px;
    min-height: 44px;
    border-bottom: 1px solid #efefef;
}

.acc-type__name {
    font-weight: 500;
    font-size: 18px;
    margin: 0;
    padding: 0;
}


.advantages__item {
    position: relative;
    text-align: left;
    margin-top: 0;
    margin-bottom: 13px;
}

.advantages__text-wrap {
    display: flex;
    justify-content: space-between;
}

.advantages__text {
    font-size: 14px;
    display: flex;
    line-height: 1.2;
    margin-bottom: 3px;
    color: #333;
}

.advantages__value {
    font-size: 14px;
    display: flex;
    align-items: flex-end;
    flex: 1;
    margin-bottom: 3px;
}

.advantages__value:before {
    display: block;
    flex: 1;
    width: 10px;
    height: 1px;
    margin-bottom: 2px;
    content: "";
    border-bottom: 1px dotted #b3b3b3;
}

.advantages__descr {
    font-size: 12px;
    margin: 0;
    line-height: 1.2;
    color: #b3b3b3;
}

.acc-type__btn {
    position: absolute;
    left: 25px;
    right: 25px;
    bottom: 17px;
    justify-content: center;
}

.acc-type .swiper-pagination {
    position: relative;
    top: 0;
    margin-top: 15px;
}

.swiper-container-horizontal>.swiper-pagination-bullets,
.swiper-pagination-custom,
.swiper-pagination-fraction {
    bottom: 10px;
    left: 0;
    width: 100%;
}

.swiper-pagination {
    position: absolute;
    text-align: center;
    -webkit-transition: opacity .3s;
    -o-transition: .3s opacity;
    transition: opacity .3s;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    z-index: 10;
}

.acc-type .swiper-pagination .swiper-pagination-bullet {
    width: 4px;
    height: 4px;
    margin: 0 2px !important;
    background: #999 !important;
    opacity: 1;
    border-radius: 2px;
}

.swiper-container-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet {
    margin: 0 4px;
}

.swiper-pagination-bullet {
    width: 8px;
    height: 8px;
    display: inline-block;
    border-radius: 100%;
    background: #000;
    opacity: .2;
}

.acc-type .swiper-pagination .swiper-pagination-bullet.swiper-pagination-bullet-active {
    width: 24px;
    background: #999;
}

.acc-type .swiper-pagination .swiper-pagination-bullet {
    width: 4px;
    height: 4px;
    margin: 0 2px !important;
    background: #999 !important;
    opacity: 1;
    border-radius: 2px;
}

.swiper-container-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet {
    margin: 0 4px;
}

.swiper-pagination-bullet-active {
    opacity: 1;
    background: #007aff;
}

.swiper-pagination-bullet {
    width: 8px;
    height: 8px;
    display: inline-block;
    border-radius: 100%;
    background: #000;
    opacity: .2;
}

.swiper-container .swiper-notification {
    position: absolute;
    left: 0;
    top: 0;
    pointer-events: none;
    opacity: 0;
    z-index: -1000;
}

.acc-type-settings {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    align-items: flex-start;
    padding: 15px 10px 15px 25px;
    margin: 0 0 25px;
    border: 1px solid #f2f2f2;
    border-radius: 4px;
    color: #4d4d4d;
}

ol,
ul {
    list-style: none;
}

.acc-type-settings__item._lg {
    min-width: 130px;
}

.acc-type-settings__item {
    flex: 0 1 22.6%;
    margin: 0 15px 20px 0;
}

.acc-type-settings__title {
    font-weight: 500;
    font-size: 12px;
    display: flex;
    justify-content: flex-start;
    min-height: 14px;
    margin-bottom: 10px;
    position: relative;
}

.acc-type-settings {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    align-items: flex-start;
    padding: 15px 10px 15px 25px;
    margin: 0 0 25px;
    border: 1px solid #f2f2f2;
    border-radius: 4px;
    color: #4d4d4d;
}

.acc-type-settings__tooltip-cntrl {
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 12px;
    height: 12px;
    margin: 0 3px;
    opacity: .2;
    cursor: pointer;
    border: none;
}

.acc-type-settings__cntrl {
    width: 100%;
}

.switcher {
    display: flex;
    align-items: stretch;
    justify-content: stretch;
    height: 32px;
    border: 2px solid #f2f2f2;
    background: #f2f2f2;
    border-radius: 4px;
}

.switcher__item {
    position: relative;
    flex: 1;
    height: 28px;
}

input[type=checkbox],
input[type=image],
input[type=radio] {
    width: auto;
    height: auto;
    padding: 0;
    margin: 3px 8px 3px 0;
    line-height: normal;
    border: 0;
    cursor: pointer;
    border-radius: 0;
    vertical-align: -2px;
}

.switcher__radio {
    position: absolute;
    bottom: 100%;
    right: 100%;
    visibility: hidden;
    opacity: 0;
}

.switcher__label {
    font-size: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    padding: 0 10px;
    cursor: pointer;
    color: #999;
    border-radius: 4px;
    transition: all .1s ease-out;
}

.switcher__label_active {
    cursor: default;
    background: #fff;
    color: #0d6ffb;
    box-shadow: 0 1px 2px rgb(0 0 0 / 25%);
    font-size: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    padding: 0 10px;
    cursor: pointer;
    border-radius: 4px;
    transition: all .1s ease-out;

}

.acc-form-wrap__btn-wrap {
    display: flex;
    justify-content: center;
    margin-top: 32px;
}

.acc-form-wrap__btn {
    display: flex;
    justify-content: center;
    min-width: 200px;
}

.styled-btn-v2._primary {
    background: #3D9730;
    border-color: #3D9730;
    color: #fff;
    box-shadow: #3D9730;
}

.acc-type__btn {
    position: absolute;
    left: 25px;
    right: 25px;
    bottom: 17px;
    justify-content: center;
}

.styled-btn-v2 {
    height: 40px;
    border: none;
    border-radius: 4px;
    text-decoration: none;
    display: flex;
    align-items: center;
    padding: 0 24px;
    font-family: Roboto, Helvetica, Arial, sans-serif;
    font-size: 12px;
    font-weight: 500;
    cursor: pointer;
    transition-property: background-color, color;
    transition-duration: .2s;
}

/* .acc-type__title{
    margin: auto;
} */
.styled-btn-v2._primary-fill {
    background: 0 0;
    border: 1px solid #3D9730;
    color: #3D9730;
    box-shadow: none;
}

.cardsubmit {
    padding: 15px;
    display: flex;
    justify-content: center;
}

.cardCenter {
    display: flex;
    justify-content: center;
}

.cardinput {
    margin: auto;
    padding: 10px;
    border: 0;
    box-shadow: 0 0 15px 4px rgba(0, 0, 0, 0.06);
    padding: 10px;
    border-radius: 10px;
}

.cardinput {
    margin: auto;
    padding: 10px;
    border: 0;
    box-shadow: 0 0 15px 4px rgba(0, 0, 0, 0.06);
    padding: 10px;
    border-radius: 10px;
}

/* .css-1t1j96h-MuiPaper-root-MuiDialog-paper{
    min-height: 218px !important;
    width: 80%;
} */
.passwordmodel .css-1t1j96h-MuiPaper-root-MuiDialog-paper {
    width: auto;
}

.plan-active-submit-disabled-btn {
    height: 45px;
}

.plan-active-submit-disabled-btn i {
    font-size: 25px;
}

.slick-arrow.slick-prev {
    font-family: FontAwesome;
    display: flex !important;
    flex-direction: column;
    align-items: center;
}

.slick-arrow.slick-prev:before {
    content: "\f053";
    color: #3d9730;
    font-size: 20px;
    margin-top: 26px;
}

.slick-arrow.slick-next {
    font-family: FontAwesome;
    display: flex !important;
    flex-direction: column;
    align-items: center;
}

.slick-arrow.slick-next:before {
    content: "\f054";
    color: #3d9730;
    font-size: 20px;
    margin-top: 26px;
}

.slick-slide {
    min-width: 290px;
}

.main-plan-section {
    display: flex;
    width: 100%;
}

.main-plan-section .form-section,
.main-plan-section .plan-section {
    width: 100%;
    padding: 25px;
}

.main-plan-section .form-section {
    display: flex;
    flex-direction: column;
    gap: 26px;
}

.main-plan-section .form-section .element {
    display: flex;
    flex-direction: column;
    gap: 5px;
    position: relative;
}

.trading-account-password {
    border: 1px solid #ced4da;
    border-radius: 5px;
    padding: 5px;
}

.plan-form-input-label {
    font-weight: 700 !important;
    color: #3b3e66;
}

.form-btn-action {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.plan-section .plan-content {
    border: 1px solid #ced4da;
    border-radius: 5px;
}

.plan-section .plan-content .plan-header {
    background-color: #1e64b4;
    color: white;
    border-radius: 5px 5px 0 0;
    padding: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.plan-section .plan-content .plan-header .plan-title {
    font-weight: 700;
}

.plan-section .plan-content .plan-header button {
    color: white;
}

.plan-body-section .element {
    display: grid;
    justify-content: space-between;
    padding: 5px 10px;
    border-bottom: 1px solid #ced4da;
    grid-template-columns: 50% 50%;
}

.plan-body-section .element span {
    text-align: center;
}

.plan-body-section .element:last-child {
    border-bottom: none;
}

.plan-body-section {
    padding: 15px;
}

.plan-form-input-value {
    font-weight: 700;
    color: #1d64b4;
}

.plan-content .plan-header .plan-btn.Mui-disabled {
    background: transparent;
}

.main-plan-section .form-section .element .eye {
    position: absolute;
    right: 10px;
    top: 35px;
    cursor: pointer;
    user-select: none;
}
.skip-span {
    cursor: pointer;
    user-select: none;
}
@media only screen and (max-width: 768px) {
    .main-plan-section {
        flex-wrap: wrap;
    }
}
.form-control1.is-invalid, .was-validated .form-control:invalid {
    border-color: #dc3545 !important;
    padding-right: calc(1.5em + 0.75rem);
    background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0naHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmcnIHZpZXdCb3g9JzAgMCAxMiAxMicgd2lkdGg9JzEyJyBoZWlnaHQ9JzEyJyBmaWxsPSdub25lJyBzdHJva2U9JyNkYzM1NDUnPjxjaXJjbGUgY3g9JzYnIGN5PSc2JyByPSc0LjUnLz48cGF0aCBzdHJva2UtbGluZWpvaW49J3JvdW5kJyBkPSdNNS44IDMuNmguNEw2IDYuNXonLz48Y2lyY2xlIGN4PSc2JyBjeT0nOC4yJyByPScuNicgZmlsbD0nI2RjMzU0NScgc3Ryb2tlPSdub25lJy8+PC9zdmc+);
    background-repeat: no-repeat;
    background-position: right calc(36px + 0.1875rem) center;
    /* background-size: calc(16px + 0.375rem) calc(12.75em + 0.375rem); */
    background-size: 20px;
}