.ibcomhistory {
  display: flex;
  flex-flow: wrap;
  justify-content: center;
}
.displayflxend {
  display: flex;
  justify-content: end;
}
.csvButton {
  color: #fff;
  background-color: #5d2067;
  box-shadow: 0px 3px 1px -2px rgb(0 0 0 / 20%),
    0px 2px 2px 0px rgb(0 0 0 / 14%), 0px 1px 5px 0px rgb(0 0 0 / 12%);
  padding: 6px 16px;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  position: relative;
  box-sizing: border-box;
  border: 0;
  margin: 0;
  cursor: pointer;
  -webkit-user-select: none;
  user-select: none;
  vertical-align: middle;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-weight: 500;
  font-size: 0.875rem;
  letter-spacing: 0.02857em;
  transition: all 0.2s ease-in-out 0s;
}
