.val1{
    margin-left: 16px;
    font-weight: 500; 
    
}
.val2{
    margin-left: 100px;
    font-weight: 500; 
}
.pading{
    padding:20px 0px;
}
.val3{
    margin-left: 60px;
    font-weight: 600; 
}
.val4{
    margin-left: 45px;
    font-weight: 600; 
}
.bold{
    font-weight: 600;
}
.margin{
    margin-left: 75%;
}

