@media (min-width: 600px){
.css-1a1vrn4-MuiGrid-root {
    max-width: 100%;
    }
   .css-1mcozcl-MuiGrid-root{
    max-width: 22%;
    }
}
@media (min-width: 900px){
    .css-1a1vrn4-MuiGrid-root {
        max-width: 100%;
    }
}
@media (min-width: 1200px){
    .css-1a1vrn4-MuiGrid-root {
        max-width: 100%;
    }
}