.app-sidebar-fixed .app-content {
  padding-left: 15rem;
}

.app-content {
  flex: 1 1;
  display: flex;
  padding: 0;
  flex-direction: column;
  transition: all 0.5s cubic-bezier(0.685, 0.0473, 0.346, 1);
}

.app-main {
  display: flex;
  flex: 1 1 auto;
  min-width: 0;
  flex-direction: column;
  position: relative;
  min-height: 100vh;
}

.loader,
.loader .loader-icon {
  display: flex;
  align-items: center;
  align-content: center;
}

.loader {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;

  border-radius: 1px 10px 10px 10px;
  background-color: hsla(0, 0%, 100%, 0.9);
  z-index: 9;
  justify-content: center;
}

.MuiMobileStepper-dotActive {
  background-color: #1976d2 !important;
}

.filter-submit {
  padding-top: 25px;
}

.ribbon {
  position: absolute;
  right: 0;
  top: 0;
  z-index: 1;
}

.platforms .mx-500 {
  max-width: 500px;
}

.platforms p {
  font-size: 13px;
}

.platforms .mx-500 {
  max-width: 500px;
}

.platforms p {
  font-size: 13px;
}

.pb-5 {
  padding-bottom: 3rem !important;
}

.MuiPaper-rounded {
  border-radius: 13px;
}

.skipButton {
  background-color: #e0e0e0 !important;
  width: 50%;
  color: black;
}

.continueButton {
  /* background-color: #666666!important; */
  width: 50%;
}

.col .row1 {
  margin-right: -0.75rem;
  margin-left: -0.75rem;
}

.boxSection {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  column-gap: 6px;
}

.row1 {
  margin-bottom: 0;
}

.boxSection .boxsize {
  width: 220px;
  margin-right: 11px;
  margin-left: 11px;
  cursor: pointer;
  border-radius: 10px;
  padding: 15px !important;
}

.boxSection .boxsize > div.row {
  margin-bottom: 0 !important;
}

.card {
  margin: 1rem 0;
}

.padding-9 {
  padding: 5px 23px !important;
}

.card {
  -webkit-transition: box-shadow 0.25s;
  transition: box-shadow 0.25s;
}

.card,
.card-panel {
  margin: 0.5rem 0 1rem;
  border-radius: 2px;
  background-color: #fff;
}

.card,
.card.large,
.card.medium,
.card.small {
  position: relative;
}

.card {
  box-shadow: 0 2px 2px 0 rgb(0 0 0 / 14%), 0 3px 1px -2px rgb(0 0 0 / 12%),
    0 1px 5px 0 rgb(0 0 0 / 20%);
}

.col .row1 {
  margin-right: -0.75rem;
  margin-left: -0.75rem;
}

.row1 {
  margin-bottom: 0;
}

.boxSection .boxsize .text-align-center {
  text-align: center;
}

.boxSection .boxsize .text-align-center h5 {
  font-size: 1.2rem;
  font-weight: 500;
  letter-spacing: 1px;
  line-height: 1.2;
  display: inline-block;
  vertical-align: middle;
  word-break: break-all;
}

.mb-0 {
  margin-bottom: 0 !important;
}

h5.mb-0 {
  font-size: 1.25rem;
  /* margin: 0.82rem 0 0.656rem; */
}

.boxSection .boxsize .text-align-center {
  text-align: center;
}

.boxSection .boxsize .text-align-center p {
  text-transform: none;
  font-size: 0.99rem;
  letter-spacing: 0px;
  display: block;
  font-size: 0.9rem;
  color: rgba(0, 0, 0, 0.4);
  letter-spacing: 1px;
}

.no-margin {
  margin: 0 !important;
}

.boxSection .boxsize:hover {
  box-shadow: 28px 30px 20px rgba(105, 91, 91, 0.2);
}

.boxSection .boxsize:hover h5 {
  transform: scale(1.1) translateY(-3px);
  color: #2a3f73;
}

.boxSection .boxsize:hover p {
  transform: translateY(-2px);
  color: #3d9730 !important;
}

.commingsoon h1 {
  color: red;
  font-size: 50px;
  background: white;
  padding: 51px 5px;
}
.account_dropdown_list .MuiInputBase-input {
  font-weight: 700;
  color: #7a7b97;
}
.remove-pending-top-0 {
  padding-top: 0 !important;
}
.remove-pending-0 {
  padding: 0 !important;
}
.margin-bottom-zero {
  margin-bottom: 0 !important;
}
.text-uppercase {
  text-transform: uppercase;
}
.font-weight-700 {
  font-weight: 700;
}
.marginBottom10px {
  margin-bottom: 10px !important;
}
.account-data-main {
  border: 1px solid #cdcdcd;
  align-items: center;
  margin: 10px 0px;
  padding: 35px 12px;
  display: block;
}

.accunt-data1 {
  display: flex;
  margin-bottom: 1rem;
}

.accunt-data1 div {
  margin: 3px;
}

.accunt-data2 {
  justify-content: space-between;
  box-sizing: border-box;
  height: auto;
}

.accunt-data2 .item1 {
  font-size: 1.5rem;
  height: 100%;
}

.accunt-data2 .item2 {
  width: auto;
  height: 100%;
}

.accunt-data2 .item2 .b-hover {
  /* height: 100%;
  min-width: 195px;
  border: 1px solid #a7a7a7;
  display: flex;
  justify-content: center;
  align-items: center;
    */
}

.accunt-data2 .item2 .b-hover:hover {
  border: 1px solid black;
}

.accunt-data2 .item2 .item2-item2 {
  height: 100%;
  min-width: 195px;
  border: 1px solid #a7a7a7;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px !important;
  margin-right: 8px;
}

/* .accunt-data2 .item2 .item2-item3 .css-1869usk-MuiFormControl-root {
  min-width: auto;
  max-width: auto;
  margin: 0 !important;
} */
.btn-36 {
  height: 36px !important;
}
.btn-costom {
  background: none;
  border-radius: 5px;
  border: 1px solid #a7a7a7;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 500;
}

.btn-costom:hover {
  background-color: rgb(93, 32, 103);
  font-weight: 500;
  color: white;
}

.wiblack {
  color: black;
}

.btn-costom:hover .wiblack {
  color: white !important;
}
.accunt-data1 span {
  font-size: 14px;
}
.MuiTabs-flexContainer .Mui-selected {
  color: #5d2067 !important;
}
.MuiTabs-indicator {
  background-color: #5d2067 !important;
}

/* .item2-item3 .css-1ccrwnh-MuiInputBase-root .MuiInputBase-input {
  padding: 0px 24px 2px 7px !important;
} */

.btn-px {
  padding: 0rem 0.5rem;
}

.react-swipeable-view-container .carousel-control-next,
.carousel-control-prev {
  width: 8% !important;
}

button,
input,
optgroup,
select,
textarea {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

button {
  border-radius: 0;
}

button,
input {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

.carousel-control-next,
.carousel-control-prev {
  position: absolute;
  top: 0;
  bottom: 0;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 15%;
  padding: 0;
  color: #fff;
  text-align: center;
  background: 0 0;
  border: 0;
  opacity: 0.5;
  transition: opacity 0.15s ease;
}

.carousel-control-prev {
  left: 0;
}

[type="button"],
[type="reset"],
[type="submit"],
button {
  -webkit-appearance: button;
}

.react-swipeable-view-container .carousel-control-next,
.carousel-control-prev {
  width: 8% !important;
}

.carousel-control-prev-icon i {
  opacity: 0.6;
}

.carousel-control-prev-icon i:hover {
  opacity: 1;
  color: white;
}

.carousel-control-next-icon,
.carousel-control-prev-icon {
  display: inline-block;
  width: 2rem;
  height: 2rem;
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: 100% 100%;
}

.visually-hidden,
.visually-hidden-focusable:not(:focus):not(:focus-within) {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  padding: 0 !important;
  margin: -1px !important;
  overflow: hidden !important;
  clip: rect(0, 0, 0, 0) !important;
  white-space: nowrap !important;
  border: 0 !important;
}

*,
::after,
::before {
  box-sizing: border-box;
}

*,
.close:active,
.close:focus {
  outline: none;
}

.carousel-control-next,
.carousel-control-prev {
  position: absolute;
  top: 0;
  bottom: 0;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 15%;
  padding: 0;
  color: #fff;
  text-align: center;
  background: 0 0;
  border: 0;
  opacity: 0.5;
  transition: opacity 0.15s ease;
}

.carousel-control-next {
  right: 0;
}

.carousel-control-next,
.carousel-control-prev {
  position: absolute;
  top: 0;
  bottom: 0;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 15%;
  padding: 0;
  color: #fff;
  text-align: center;
  background: 0 0;
  border: 0;
  opacity: 0.5;
  transition: opacity 0.15s ease;
}

.carousel-control-next-icon,
.carousel-control-prev-icon {
  display: inline-block;
  width: 2rem;
  height: 2rem;
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: 100% 100%;
}

.carousel-control-next-icon i {
  opacity: 0.6;
}

.carousel-control-next-icon i:hover {
  opacity: 1;
  color: white;
}

.carousel-control-next-icon,
.carousel-control-prev-icon {
  display: inline-block;
  width: 2rem;
  height: 2rem;
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: 100% 100%;
}

.btn-success {
  color: #fff;
  background-color: #28a745;
  border-color: #28a745;
}

/* .MuiDialogContent-root  {
  border: 2px dotted #e3e4e5;
  padding: 14px;
} */
.DropWindow {
  margin-left: 24px !important;
  padding: 6px 13px !important;
  margin-top: 24px !important;
  align-items: center;
}

.trade-MetaTrader {
  border: 1px solid rgb(161, 161, 161);
  border-radius: 2px;
}

.trade-MetaTrader:hover {
  border: 1px solid rgb(0, 0, 0);
}

@media only screen and (max-width: 1170px) {
  .s_mx {
    margin: 0px 0.5rem !important;
  }
}

@media only screen and (max-width: 878px) {
  .accunt-data2 {
    flex-direction: column;
  }

  .item2 {
    margin-top: 5px;
  }

  .accunt-data2 .item2 .item2-item2 {
    min-width: 39%;
  }

  .item2-item3 .css-1ccrwnh-MuiInputBase-root .MuiInputBase-input {
    font-size: 1rem;
    padding: 0px 11px 2px 7px !important;
  }

  .accunt-data1 {
    flex-direction: column;
    margin-bottom: 0.7rem !important;
  }

  .accunt-data1 div {
    margin: 0;
  }

  .btn-px {
    padding: 3px 13px;
    margin: 3px !important;
  }

  .s_mx {
    min-width: 48%;
    margin: 0% !important;
    margin-right: 4px !important;
  }

  .accunt-data1 span {
    font-size: 1rem;
  }

  .accunt-data1 div {
    flex-wrap: wrap;
  }

  .account-data-main {
    padding: 25px 12px;
  }
}

@media only screen and (max-width: 520px) {
  .account-data-main {
    padding: 19px 12px;
  }

  .btn-36 {
    height: 30px !important;
  }

  .card-header h5 {
    font-size: 0.9rem;
  }

  .textCenter button {
    font-size: 0.6rem !important;
  }

  .btn-px {
    padding: 3px 10px;
    margin: 3px;
  }

  .accunt-data1 span {
    font-size: 13px;
  }

  .accunt-data1 {
    margin-bottom: 0.4rem !important;
  }

  .b-hover svg {
    font-size: 1.2rem;
  }

  .item2 button {
    padding: 7px !important;
    font-size: 0.8rem;
  }

  .accunt-data2 .item1 {
    font-size: 1.2rem;
  }

  .textCenter button {
    font-size: 0.8rem;
    padding: 10px !important;
  }
}

@media only screen and (max-width: 430px) {
  .btn-px {
    padding: 0 0.5rem;
  }

  /* .s_mx {
    width: 100%;
  } */
}
.DashBordsetting {
  min-width: auto !important;
  max-width: auto !important;
  margin: 0 !important;
  padding: 0 !important;
}
.setinginputPadding div:first-child {
  padding: 0px 24px 2px 7px !important;
  min-width: 0 !important;
}
.account-main-mob {
  font-size: 12px;
  display: none;
  margin-bottom: 10px;
  background: #ffffff;
  border: 1px solid #dfdfdf;
  box-shadow: 0px 2px 11px rgb(93 32 103 / 25%);
  border-radius: 10px;
  padding: 13px;
}
.DashBordsetting svg {
  display: none;
}
.pad-0 {
  padding: 0 !important;
}

.live-account-button-mob {
  width: 100%;
  margin: 5px;
}
.cir-mob {
  width: 16px;
  height: 16px;
  border-radius: 10px;
  display: block;
  background: #2aa91b;
  border: 1px #2aa91b;
  box-shadow: #2aa91b 0px 0px 8px;
  margin-right: 8px;
}
@media screen and (max-width: 888px) {
  .account-data-main {
    display: none;
  }
  .account-main-mob {
    display: block;
  }
}
