.app-sidebar--content{
  max-height: calc(100vh - 100px);
  overflow-y: auto;
}
.app-sidebar--content {
  /* Foreground, Background */
  scrollbar-color: rgba(0, 0, 0, 0) rgba(230, 61, 61, 0);
}
.app-sidebar--content::-webkit-scrollbar {
  width: 10px; /* Mostly for vertical scrollbars */
  height: 10px; /* Mostly for horizontal scrollbars */
}
.app-sidebar--content::-webkit-scrollbar-thumb { /* Foreground */
  background: rgba(247, 33, 33, 0);
}
.app-sidebar--content::-webkit-scrollbar-track { /* Background */
  background: rgba(117, 39, 39, 0);
}

.imgdes
{
  margin: 26px;
  width: 7%;
}
.textCenter
{
  text-align: center;
}
.loginPading
{
  padding: 0 2.5rem !important;
}
.text-light{
  color: gray;
}
