.head_prpl {
  width: 98%;
  /* height: 110px; */
  background: #5d2067;
  border-radius: 10px;
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
}
.reward {
  width: 328px;
  /* height: 36px; */
  left: 317px;
  top: 137px;

  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 36px;
  color: #ffffff;
}
.link {
  width: 190px;
  height: 21px;
  left: 320px;
  top: 182px;
  cursor: pointer;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  letter-spacing: 0.1em;
  text-decoration-line: underline;
  color: #dfdfdf;
}
.round_1 {
  display: none;

  width: 77px;
  height: 77px;
  left: 1199px;
  top: 135px;

  background: #fb21ff33;
  border-radius: 100px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(12.5px);
  margin-left: 90%;

  margin-top: -5.5%;
}
.round_2 {
  display: none;
  position: sticky;
  width: 84px;
  height: 84px;
  left: 1226px;
  top: 123px;
  border-radius: 100px;
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(12.5px);
  margin-left: 92%;

  margin-top: -6%;
}
.domestic {
  font-size: 22px;
  color: #000000;
  font-weight: 600;
  text-align: center;
  margin-top: 10px;
}
.international {
  font-size: 22px;
  color: #000000;
  font-weight: 600;
  text-align: center;
  margin-top: 10px;
}
.main_topic {
  margin-top: 4%;
  display: flex;
  justify-content: space-around;
}
.ft_box {
  box-sizing: border-box;
  margin-top: 3%;
  /* width: 450px;
  height: 350px; */
  left: 317px;
  top: 336px;
  background: #ffffff;
  border: 1px solid #dfdfdf;
  box-shadow: 0px 0px 10px rgba(93, 32, 103, 0.1);
  border-radius: 20px;
  /* min-width: 20%;
  max-width: 35%; */
}
.content1 {
  margin-top: 3%;
  width: 49%;
  font-weight: 400;
  font-size: 14px;

  line-height: 21px;
  text-align: center;
}

.content2 {
  margin-top: 3%;
  min-height: 64px;
  width: 49%;
  font-weight: 400;
  font-size: 14px;
  color: #787878;
}

.content3 {
  font-weight: 600;
  font-size: 14px;
  color: #000000;
}
.flex {
  display: flex;
  text-align: center;
  justify-content: space-around;
}
.row11 {
  width: 0px;
  height: 34px;
  margin-top: 5%;
  border: 1px solid #dfdfdf;
}
.image1 {
  width: 100%;
  border-radius: 20px;
  height: 200px;
  background: linear-gradient(3.45deg, #000000 -4.98%, rgba(0, 0, 0, 0) 47.88%);
}
.image2 {
  border-radius: 20px;
  width: 100%;
  height: auto;
}

#btn_1 {
  border-radius: 50px !important;
  height: 35px;
  margin-bottom: 10px;
}
.u_text {
  /* position: absolute; */
  height: 24px;

  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  /* margin-top: 12.5%;
  margin-left: 3%; */
  float: left;
  color: #ffffff;
}
.u_text1 {
  /* position: absolute; */
  font-size: 16px;
  /* margin-top: 12.5%;
  margin-left: 25%; */
  color: #ffc121;
  float: right;
}

@media only screen and (max-width: 1600px) {
  .round_1 {
    width: 77px;
    height: 77px;

    background: #fb21ff33;
    border-radius: 100px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(12.5px);
    margin-left: 90%;

    margin-top: -6%;
  }
}
@media only screen and (max-width: 1550px) {
  .round_1 {
    width: 77px;
    height: 77px;

    background: #fb21ff33;
    border-radius: 100px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(12.5px);
    margin-left: 90%;

    margin-top: -7%;
  }
}

@media only screen and (max-width: 1500px) {
  .u_text {
    /* position: absolute;
    height: 22px; */

    font-weight: 500;
    font-size: 15px;
    /* margin-top: 14%;
    margin-left: 2%; */

    color: #ffffff;
  }
  .u_text1 {
    /* position: absolute; */
    /* margin-top: 14%;
    margin-left: 25%; */
    color: #ffc121;
  }
  #btn_1 {
    border-radius: 50px !important;
    height: 35px;
  }
  .val_text {
    font-size: 16px;
  }
  .round_1 {
    display: none;
  }
  .round_2 {
    display: none;
  }
}
@media only screen and (max-width: 1370px) {
  .u_text {
    /* position: absolute; */
    /* height: 20px; */

    font-weight: 500;
    font-size: 14px;
    /* margin-top: 16%;
    margin-left: 2%; */

    color: #ffffff;
  }
  .u_text1 {
    /* position: absolute; */
    /* margin-top: 16%;
    margin-left: 24%; */
    color: #ffc121;
  }
  .val_text {
    font-size: 14px;
  }
}
@media only screen and (max-width: 1250px) {
  .u_text {
    /* position: absolute; */

    font-weight: 500;
    font-size: 12px;
    /* margin-top: 18%;
    margin-left: 2%; */

    color: #ffffff;
  }
  .u_text1 {
    /* position: absolute; */
    /* margin-top: 18%;
    margin-left: 22%; */
    color: #ffc121;
  }
  .content1 {
    margin-top: 3%;
    width: 49%;
    font-weight: 400;
    font-size: 12px;
    text-align: center;
  }
  .content2 {
    margin-top: 3%;
    width: 49%;
    font-weight: 400;
    font-size: 12px;
    color: #787878;
  }

  .val_text {
    font-size: 12px;
  }
}
@media only screen and (max-width: 1160px) {
  .u_text {
    /* position: absolute; */

    font-weight: 500;
    font-size: 10px;
    /* margin-top: 20%;
    margin-left: 2%; */

    color: #ffffff;
  }
  .u_text1 {
    /* position: absolute; */
    /* margin-top: 20%;
    margin-left: 22%; */
    color: #ffc121;
  }
  #btn_1 {
    border-radius: 50px !important;
    height: 35px;
  }
}
@media only screen and (max-width: 1099px) {
  .u_text {
    /* position: absolute;
    height: 20px;

    font-weight: 500; */
    font-size: 14px;
    /* margin-top: 16%;
    margin-left: 2%;

    color: #ffffff; */
  }
  /* .u_text1 {
    position: absolute;
    margin-top: 16%;
    margin-left: 24%;
    color: #ffc121;
  } */
  .val_text {
    font-size: 14px;
  }
}
@media only screen and (max-width: 1000px) {
  .u_text {
    /* position: absolute;

    font-weight: 500; */
    font-size: 12px;
    /* margin-top: 18%;
    margin-left: 2%;

    color: #ffffff; */
  }
  /* .u_text1 {
    position: absolute;
    margin-top: 18%;
    margin-left: 22%;
    color: #ffc121;
  } */
  .content1 {
    margin-top: 3%;
    width: 49%;
    font-weight: 400;
    font-size: 12px;
    text-align: center;
  }
  .content2 {
    margin-top: 3%;
    width: 49%;
    font-weight: 400;
    font-size: 12px;
    color: #787878;
  }

  .val_text {
    font-size: 12px;
  }
}
@media only screen and (max-width: 940px) {
  .u_text {
    /* position: absolute;

    font-weight: 500; */
    font-size: 10px;
    /* margin-top: 20%;
    margin-left: 2%;

    color: #ffffff; */
  }
  /* .u_text1 {
    position: absolute;
    margin-top: 20%;
    margin-left: 40%;
    color: #ffc121;
  } */
  #btn_1 {
    border-radius: 50px !important;
    height: 35px;
  }
  .content1 {
    margin-top: 3%;
    width: 49%;
    font-weight: 400;
    font-size: 10px;
    text-align: center;
  }
  .content2 {
    margin-top: 3%;
    width: 49%;
    font-weight: 400;
    font-size: 10px;
    color: #787878;
  }
  .ft_box {
    box-sizing: border-box;
    margin-top: 3%;
    /* height: 350px; */
    left: 317px;
    top: 336px;
    background: #ffffff;
    border: 1px solid #dfdfdf;
    box-shadow: 0px 0px 10px rgba(93, 32, 103, 0.1);
    border-radius: 20px;
    /* min-width: 50%;
    max-width: 98%; */
  }
}

@media only screen and (max-width: 690px) {
  .u_text {
    /* position: absolute; */

    font-weight: 500;
    font-size: 10px;
    /* margin-top: 24%;
    margin-left: 2%; */

    color: #ffffff;
  }
  .u_text1 {
    /* position: absolute;
    margin-top: 24%;
    margin-left: 43%; */
    color: #ffc121;
  }

  #btn_1 {
    border-radius: 50px !important;
    height: 35px;
  }
  .content1 {
    margin-top: 3%;
    width: 49%;
    font-weight: 400;
    font-size: 15px;
    text-align: center;
  }
  .content2 {
    margin-top: 3%;
    width: 49%;
    font-weight: 400;
    font-size: 15px;
    color: #787878;
  }
  .u_text {
    /* position: absolute; */

    font-weight: 500;
    font-size: 15px;
    /* margin-top: 25%;
    margin-left: 2%; */
    color: #ffffff;
  }
}

@media only screen and (max-width: 570px) {
  .u_text {
    /* position: absolute; */

    font-weight: 500;
    font-size: 15px;
    /* margin-top: 28%;
    margin-left: 2%; */
    color: #ffffff;
  }
  .u_text1 {
    /* position: absolute; */
    /* margin-top: 28%;
    margin-left: 46%; */
    color: #ffc121;
  }
  #btn_1 {
    border-radius: 50px !important;
    height: 35px;
  }
}
@media only screen and (max-width: 440px) {
  .u_text {
    /* position: absolute; */

    font-weight: 500;
    font-size: 15px;
    /* margin-top: 36%;
    margin-left: 2%; */
    color: #ffffff;
  }
  /* .u_text1 {
    display: none;
  } */
  #btn_1 {
    border-radius: 50px !important;
    font-size: 13px;
    height: 35px;
  }
  .reward {
    font-size: 16px;
  }
}
@media only screen and (max-width: 385px) {
  .u_text {
    /* position: absolute; */

    font-weight: 500;
    font-size: 15px;
    /* margin-top: 40%;
    margin-left: 2%; */
    color: #ffffff;
  }
  /* .u_text1 {
    display: none;
  } */
}
.main_content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.pop_head {
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  color: #5d2067;
}
.pop_text {
  font-weight: 500;
  font-size: 16px;
}
.image3 {
  border-radius: 100%;
  width: 40px;
  height: 40px;
}
.description {
  font-weight: 600;
  font-size: 18px;

  color: #5d2067;
}
.startposition {
  position: absolute;
  top: 82%;
  padding: 0px 12px;
  width: 100%;
}
.shadwoFanta {
  position: absolute;
  width: 100%;
  height: 100%;
  /* left: 845px; */
  top: 0;
  border-radius: 16px;
  background: linear-gradient(3.45deg, #000000 -4.98%, rgba(0, 0, 0, 0) 47.88%);
}
.fan-history-main {
  margin-bottom: 10px;

  background: #ffffff;
  border: 1px solid #dfdfdf;
  box-shadow: 0px 0px 10px rgb(93 32 103 / 10%);
  border-radius: 10px;
  padding: 10px;
}
.fan-history-Submain {
  display: grid;
  color: #787878;
  grid-template-columns: 10% 16% 18% 18% 16% 22%;
}
.fan-history-Submain div {
  display: flex;
  align-items: center;
}
.fan-history-heading {
  /* font-family: Poppins; */
  font-size: 24px;
  font-weight: 500;
  line-height: 36px;
  letter-spacing: 0em;
  text-align: left;
}
.fanMob-history-main {
  font-size: 12px;
  margin-bottom: 10px;
  background: #ffffff;
  border: 1px solid #dfdfdf;
  box-shadow: 0px 2px 11px rgba(93, 32, 103, 0.25);
  border-radius: 10px;
  padding: 13px;
}
.fanMob-history-img {
  display: flex;
  justify-content: center;
}
.fanMob-history-submain {
  display: flex;
  justify-content: space-between;
  border-bottom: 0.5px solid #dfdfdf;
}
.fanMob-history-submain div {
  padding: 5px 0px;
}
.fan-Mobhistory-container {
  display: none;
}
@media screen and (max-width: 686px) {
  .fan-Mobhistory-container {
    display: block;
  }
  .fan-history-container {
    display: none;
  }
}
.mobsubTextColor {
  color: #787878;
}
.knowMoreList li {
  padding: 5px;
  font-size: 16px;
  font-weight: 600;
}
