.Primary_box {
  background-color: #5d2067;
  color: white;
  text-align: center;
  font-size: 28px;
  font-weight: 800;
  padding: 8px;
  border-radius: 20px;
  width: 60%;
}
.back_color_th {
  background-color: #7d188d !important;
  color: white;
  font-weight: 800 !important;
  font-size: 18px;
}
table {
  border-radius: 1em;
  overflow: hidden;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
    rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

th,
td {
  padding: 1em;
  border-bottom: 2px solid white;
  border: 1px solid rgb(179, 175, 175);
}
.color_dots {
  color: #7d188d !important;
  font-size: 16px !important;
  font-size: 14px;
}
.uppercase_text {
  text-transform: uppercase;
  padding: 3rem;
}
.line_height {
  line-height: 34px !important;
}
.tablepading {
  margin-left: 5rem;
  margin-right: 5rem;
  margin-top: 40px;
}
@media only screen and (max-width: 1019px) {
  .Primary_box {
    font-size: 20px !important;
  }
}
@media only screen and (max-width: 630px) {
  .Primary_box {
    font-size: 15px !important;
  }
  .line_height {
    font-size: 12px;
    line-height: 30px !important;
    padding: 0px;
  }
  .tablepading {
    margin-left: 2rem;
    margin-right: 2rem;
    margin-top: 20px;
  }
  .uppercase_text {
    padding: 0rem;
  }
}
